@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Roboto Slab', serif;
    }
}

body {
    background: linear-gradient( to left, rgb(255, 255, 255) 0%, rgb(192, 214, 223) 20%, rgba(27, 99, 114, .7) 100%);
}